a{
  text-decoration: none;
}

.page-head{
  background: #FFFFFF;
}

.logo{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo-footer{
  color: #FFFFFF;
}

.part-logo-web{
  color: #2196F3;
}

.site-nav{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.site-nav-link{
  color: #212121;
}

.site-nav-link:hover{
  color: #2196F3;
}

.address-link:hover{
  color: #2196F3;
}

.header-address-container{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-address-link{
  color: #757575;
}

.footer-address-container{
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer-address-link{
  color: rgba(255, 255, 255, 0.6);
}

.post-address{
  color: #FFFFFF;
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto;
  font-style: normal;
}

.page-hero{
  background: #2F303A;
}

.title-style{
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.features-container{
  background: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  letter-spacing: 0.03em;
}

.title-features{
  display: none;
}

.title-paragraph-features{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}

.text-paragraph-features{
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.button-order-service{
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border-radius: 4px;
}

.services-container{
  background: #FFFFFF;
}

.team-container{
  background: #F5F4FA;
}

.footer-container{
  background: #2F303A;
}

.employee-card{
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.projects-cards-container{
  background: #FFFFFF;
}

.project-card{
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
}

.title-project{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-type{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.nav-projects-container{
  background: #FFFFFF;
}

.remove-markers{
  list-style: none;
}

.section-titles{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.title-employee-card{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.employee-position{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.button-nav-projects{
  background: #F5F4FA;
  border-color: #F5F4FA;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
}

.button-nav-projects:hover{
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #FFFFFF;
  border-radius: 4px;
}

.button-nav-projects:active{
  background:#2196F3; 
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #FFFFFF;
  border-radius: 3px;
  border-color: #2196F3;
}