.page-head{
  background: #FFFFFF;
}

.logo{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.part-logo-web{
  color: #2196F3;
}

.site-nav{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.page-hero{
  background: #2F303A;
}

.features-container{
  background: #FFFFFF;
}

.services-container{
  background: #FFFFFF;
}

.team-container{
  background: #F5F4FA;
}

.footer-container{
  background: #2F303A;
}

.employee-card{
  background: #FFFFFF;
}

.projects-cards-container{
  background: #FFFFFF;
}

.project-card{
  background: #FFFFFF;
}