.page-head{
  background: #FFFFFF;
}

.page-hero{
  background: #2F303A;
}

.features-container{
  background: #FFFFFF;
}

.services-container{
  background: #FFFFFF;
}

.team-container{
  background: #F5F4FA;
}

.footer-container{
  background: #2F303A;
}

.employee-card-container{
  background: #FFFFFF;
}